<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="" [(ngModel)]="sighUpObj.userName">
					<input type="email" name="email" placeholder="Email" required="" [(ngModel)]="sighUpObj.email">
				<input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="sighUpObj.password">
					<button (click)="signUpData()">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="userName" placeholder="User Name" required="" [(ngModel)]="loginObj.userName">
					<input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="loginObj.password">
					<button (click)="login()">Login</button>
				</form>
			</div>
	</div>
